# Bugslayer deck: user access to all three USB devices on the board.
#   sudo cp 99-bugslayer-deck.rules /etc/udev/rules.d/ && sudo udevadm control --reload && sudo udevadm trigger
# DB11 RP2040 CMSIS-DAP probe, DB12 RP2350 control plane, DB13 FX2 capture stream
SUBSYSTEM=="usb", ATTRS{idVendor}=="35f0", ATTRS{idProduct}=="db1[123]", MODE="0660", GROUP="plugdev", TAG+="uaccess"
